body{
    background-color: #FFFCEB;
    margin: 0;
}

.logo{
    margin-left: 46%;
    margin-top: 5%;
}

.tabs{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #E2C665;
    margin-left: 41.5%;
    margin-top: 2%
}
.tabs .tt{ 
    color: #3C3416;
    font-weight: 800
}
a {
    text-decoration: none;
    color: #E2C665;
}

a:hover {
    color:#3C3416;
}

.box{
    width: 850px;
    margin-left: 20%;
    margin-top: 5%;
}
.contact {
    font-family: 'Roboto Mono', monospace; 
    color: #E2C665;
}

.box2{
    width: 850px;
    margin-left: 20%;
    margin-top: 5%;
}
.options {
    font-family: 'Roboto Mono', monospace; 
    color: #E2C665;
}
.find {
    font-family: 'Roboto Mono', monospace; 
    color: #E2C665;
    margin-left: 47%;
    margin-top: 3%;
    font-size: 13px;
}
.boxlink {
    width: 180px;
    margin-left: 45%;
    margin-bottom: 2%;
}
.dribbble {
    margin-left: 1%;
}
.insta {
    margin-left: 7%;
}
.twitter {
    margin-left: 7%;
}
.vimeo {
    margin-left: 7%;
}

@media screen and (max-width: 481px) {
    .logo {
        margin-left: 38%
    }

    .tabs {
        margin-left: 25%;
    }
    .find {
        margin-left: 39%;
        margin-top: 15%;
    }
    .boxlink {
        margin-left: 32%;
    }
    .box {
        width: 330px;
        margin-left: 10%;
    }

    .box2{
        width: 330px;
        margin-left: 10%;
    }
}