body{
    background-color: #FFFCEB;
    margin: 0;
}

.logo{
    margin-left: 46%;
    margin-top: 5%;
}



.tabs{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #E2C665;
    margin-left: 41.5%;
    margin-top: 2%
}
.tabs .tt{ 
    color: #3C3416;
    font-weight: 800
}
a {
    text-decoration: none;
    color: #E2C665;
}

a:hover {
    color:#3C3416;
}

.find {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #E2C665;
    margin-left: 47%;
    /* margin-top: 2%; */
}

.boxlink {
    width: 180px;
    margin-left: 45%;
    margin-bottom: 2%;
}
.dribbble {
    margin-left: 1%;
}
.insta {
    margin-left: 7%;
}
.twitter {
    margin-left: 7%;
}
.vimeo {
    margin-left: 7%;
}

.iframe-container {
    background-color: black;
    /* overflow: hidden;
    padding-top: 56.25%;
    position: relative; */
    margin-top: 28%;
    
}
.iframe-container iframe {
    border: 0;
    height: 48.3%;
    left: 0;
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 25%;
    margin-top: 20%;
    margin-left: 30.5%;
}

@media screen and (max-width: 481px) {
    .logo {
        margin-left: 38%
    }

    .tabs {
        margin-left: 25%;
    }
    .find {
        margin-left: 39%;
        margin-top: 10%;
    }
    .boxlink {
        margin-left: 32%;
    }
    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        margin-top: 1%;
        position: relative;
        background-color: black;
    }
    .iframe-container iframe {
        border: 0;
        height: 90%;
        left: 0;
        position: absolute;
        top: 0;
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
    }
}